@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Mono', monospace;
  background: $background-body;
}

body > div {
  padding-inline: 10px;
  padding-block: 60px 100px;
  border: 10px solid $border-primary;
  border-bottom: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;

  @include screen(1200px){
    max-width: 800px;
  }

  @include screen(800px){
    max-width: 500px;
  }
}

label, p, li, h1, h2 {
  color: $font-main;
}

label, p, li, h1 {
  font-size: 18px;
}

p {
  line-height: 1.66em;
}

h2 {
  font-family: 'Aref Ruqaa', serif;
  font-size: 24px;
  line-height: 1.25em;
}

footer {
  background: $font-main;
}

footer p {
  color: $background-body;
}