@import "colors";
@import "mixins";

.menu {
  @include menu-form;

  @include screen(1200px){
    gap: 80px;
  }

  @include screen(800px){
    grid-template-columns: 1fr;
    padding-block: 60px;
    gap: 50px;
  }
  
  h1 {
    @include title-menu-form;

    &:after{
      @include detail-title;
      @include screen(1200px){
        width: 150px;
      }

      @include screen(800px){
        width: 65%;
      }
    }
  }

  h2 {
    margin-bottom: 15px; 
  }
}

.items {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 200px;
  @include screen(1200px){
    gap: 50px;
  }
  
  li {
    line-height: 1.9;

    span {
      color: $border-secondary;
      font-family: "Aref Ruqaa",serif;
      margin-left: -60px;

      @include screen(800px){
        margin-left: 0px;
      }
    }
  }

  img {
    border-radius: 50%;
    border: 10px solid $border-primary;
    @include screen(800px){
      align-self: flex-start;
      margin-top: -50px;
      max-width: 120px;
    }
  }
}