body, div, span,
h1, h2, h3, p,
a, img, sub, sup, ol, ul, li,
fieldset, form, label, legend,
article, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}